body {
  background-color: rgba(15, 15, 15, 0.87);

  .mainContainer {
    margin-top: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Yu Gothic UI Semibold";
    .btn {
      font-weight: bold;
      color: aqua;
      background-color: inherit;
      border-radius: 10px;
    }

    .btn:hover {
      cursor: pointer;
      background-color: orangered;
    }

    .tableContainer {
      display: flex;
      flex-direction: column;
      width: 700px;
      border: 10px solid aqua;
      border-radius: 12px;
      box-shadow: inset 0 0 0 5px white;
      background-color: inherit;
      color: aqua;
      padding-bottom: 5px;
      padding-top: 5px;

      .table {
        width: inherit;
        padding-bottom: 5px;

        .info {
          width: inherit;
          display: flex;
          justify-content: space-around;
        }
      }

      .head {
        display: flex;
        width: inherit;
        border-bottom: 3px solid white;
        justify-content: space-around;
        padding-bottom: 5px;

        .pages {
          display: flex;
          width: inherit;
          height: inherit;
          flex-wrap: wrap;
          align-items: center;
        }
      }
    }

    .pages {
      width: 100px;
      display: flex;
      justify-content: space-around;

      .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding-left: 0px;
        border: 3px solid aqua;
        border-radius: 20px;
        margin: 20px;
        background: inherit;
        color: #f2f2f2;
        cursor: pointer;
      }

      .pagination:hover {
        background: darkred;
        color: white;
        box-shadow: inset 0 0 0 3px aqua;
      }
    }
  }
}
.footer {
  position: absolute;
  top: 180px;
  right: 50px;
  display: flex;
  flex-flow: column;
  color: aqua;

  .input {
    color: aqua;
    background-color: inherit;
    width: 70px;
    font-size: xx-large;
  }
}

